.header {

    height: 420px;
    background-color: #0c0200;

    .header-c {
        position: relative;
        max-width: 1024px;
        margin: 0 auto;

        .nav {
            position: absolute;
            z-index: 10;
            width: 100%;
            height: 56px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.75);

            h1 a {
                display: block;
                width: 120px;
                height: 24px;
                margin-left: 42px;
                background-image: url(../images/logo_w@svg.svg);
                background-size: contain;
                @include hide-text();
            }

            ul {
                display: flex;

                li {
                    .cart {
                        margin: 0 5px;
                    }

                    a {
                        display: block;
                        padding: 10px 15px 10px 15px;
                        color: #fff;
                        text-decoration: none;
                    }

                    i.fa-cart-shopping {
                        color: #fff;
                    }

                    a:hover {
                        font-weight: bold;
                        border-bottom: 3px solid #F56C23;
                    }

                    @include mobile {
                        a:hover {
                            color: #F56C23;
                            border-bottom: none;

                            i.fa-cart-shopping {
                                color: #F56C23;
                            }
                        }
                    }
                }
            }

            .ham-menu {
                display: none;
            }

            @include mobile() {

                h1 a {
                    margin-left: 13px;
                }

                .ham-menu {
                    display: block;
                    margin-right: 13px;
                    font-size: 25px;
                }

                ul {
                    position: absolute;
                    top: 56px;
                    flex-direction: column;
                    width: 100%;
                    align-items: center;
                    z-index: 100;

                    max-height: 0px;
                    overflow: hidden;
                    transition: max-height 1.5s;

                    li {
                        width: 100%;
                        text-align: center;

                        a {
                            padding: 1em;
                            transition: all 0.3s;
                            background: rgba(0, 0, 0, 0.85);
                        }
                    }

                    li:hover {
                        border-bottom: none;

                        a {
                            background: #efe9e7;
                        }
                    }
                }
            }
        }

        .menu-show ul {
            max-height: 500px;
        }
    }

    .banner {
        height: 420px;
        background-image: url(../images/header_desktop.png);
        background-position: center center;
        background-repeat: no-repeat;

        .b-text {
            position: absolute;
            width: 460px;
            height: 152px;
            background-color: rgba(0, 0, 0, 0.35);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: #fff;

            h2 {
                margin-top: 20px;
                color: #fff;
                font-size: $font-h2;
            }

            p {
                margin-top: 20px;
                line-height: $p-line-height;
            }
        }

        @include mobile() {
            .b-text {
                max-width: 90%;
                height: auto;

                h2 {
                    margin: 20px 20px 0 20px;
                }

                p {
                    margin: 20px 0;
                }
            }
        }
    }

    @include mobile {
        .banner {
            background-image: url(../images/header_mobile.png);
        }
    }

}