@import '_reset.scss';
@import '_basic.scss';
@import '_header.scss';

.content {
    background-color: #efe9e7;

    .content-c {
        display: flex;
        margin: 0 auto;
        max-width: 1024px;
        padding: 50px 15px;
        justify-content: space-around;
        color: $main-color;

        @include mobile {
            flex-direction: column;
        }

        .content-l {
            display: flex;
            flex-direction: column;
            width: 215px;
            min-width: 180px;
            color: $main-color;
            position: relative;

            .fa-leaf {
                font-size: 26px;
            }

            a {
                color: $main-color;
                text-decoration: none;

                h4 {
                    font-size: $font-h4;
                    display: inline-block;
                    margin-left: 5px;
                }
            }


            ul {
                margin: 16px 5px 0 0;

                li {

                    a {
                        display: block;
                        text-decoration: none;
                        line-height: 2.5;
                        border-bottom: 1px solid $main-color;
                        color: $main-color;
                        padding-left: 5px;
                    }

                    a:hover {
                        color: #fff;
                        background-color: $main-color;
                    }
                }
            }

            @include mobile {

                h4 {
                    color: transparent;
                    margin-bottom: 20px;
                }

                h4::before {
                    content: "分類";
                    color: $main-color;
                }

                ul {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 1s;
                    position: absolute;
                    z-index: 100;
                    top: 20px;
                    background-color: #efe9e7da;
                    width: 180px;

                    li a {
                        line-height: 3;
                        padding-left: 15px;
                    }
                }

            }
        }

        .sort-show ul {
            max-height: 500px;
        }

        .content-r {
            max-width: 700px;

            .cart-search {
                display: flex;
                justify-content: space-between;
                margin-bottom: 25px;
                align-items: center;
                flex-wrap: wrap;

                @media (max-width:886px) {
                    justify-content: center;
                }

                .search {
                    position: relative;
                    width: 460px;
                    max-width: 460px;

                    input {
                        width: 100%;
                        height: 32px;
                        border: 2px solid $main-color;
                    }

                    button {
                        width: 32px;
                        height: 32px;
                        color: #fff;
                        text-align: center;
                        line-height: 2;
                        background-color: $main-color;
                        cursor: pointer;
                        position: absolute;
                        right: 0;
                        border: none;
                    }
                }

                a {
                    display: inline-block;
                    text-decoration: none;
                    color: $main-color;
                    text-align: center;

                    span {
                        border-right: 1px solid $main-color ;
                        padding-right: 10px;
                    }

                    .fa-cart-shopping {
                        font-size: 26px;
                        margin-left: 15px;
                    }

                    @media (max-width:886px) {
                        span {
                            display: none;
                        }
                    }

                    @include mobile{
                        .fa-cart-shopping{
                            position: fixed;
                            bottom: 10px;
                            right: 10px;
                            z-index: 10;
                            font-size: 45px;
                            color: #FF5E45;
                        }
                    }
                }
            }

            .product-list {
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    max-width: 100%;
                    justify-content: space-between;

                    li {

                        max-width: 220px;
                        height: 280px;
                        margin: 0 0 30px 0;
                        text-align: center;
                        color: $main-color;
                        position: relative;
                        border-radius: 5px;
                        box-shadow: 3px 3px 4px 0px #2800002c;

                        img {
                            width: 220px;
                            height: 120px;
                            object-fit: cover;
                        }

                        h4 {
                            margin-top: 10px;
                            font-size: $font-h4;
                        }

                        p {
                            font-size: 11px;
                            line-height: 1.5;
                        }

                        .line {
                            width: 91px;
                            border-top: 1px solid black;
                            display: inline-block;
                            margin: 10px 0 30px 0;
                        }

                        span {
                            display: block;
                            font-style: italic;
                            font-size: 20px;
                            font-family: Roboto-Light;

                            strong {
                                font-weight: bold;
                            }
                        }

                        .heart {
                            position: absolute;
                            top: 5px;
                            left: 5px;
                            font-size: 20px;
                            color: #fff;
                        }

                        .hot{
                            position: absolute;
                            right: -10px;
                            top: 5px;
                            background-color: #ff5e45ec;;
                            width: 50px;
                            height: 30px;
                            line-height: 1.5;
                            color: #fff;
                        }

                        .add-cart {
                            position: absolute;
                            bottom: 10px;
                            left: 10px;
                            width: 200px;
                            display: block;
                            border: 1px solid #FF5E45;
                            line-height: 1.5;
                            text-decoration: none;
                            padding: 2px 0 1px 0;
                            color: #FF5E45;

                            .fa-solid {
                                margin-right: 5px;
                                color: #FF5E45;
                            }
                        }
                    }
                }

                @media (max-width:886px) {
                    ul {
                        justify-content: space-around;
                    }
                }
            }

        }
    }

    @include mobile{
        .content-c{
            padding-top: 15px;
        }
    }

}

.red{
    color: red;
}












@import '_footer';