@import '_reset.scss';
@import '_basic.scss';
@import '_header.scss';

.content {
    background-color: #efe9e7;

    .tip {
        position: relative;
        max-width: 1024px;
        margin: 0 auto;

        .dashed-line {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 0);
            display: inline-block;
            padding: 0 10px;
            margin-top: 50px;

            h3 {
                font-size: $font-h3;
                text-align: center;
                line-height: 32px;
                color: $main-color;
            }
        }

        .dashed-line::before,
        .dashed-line::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            width: 125px;
            height: 1px;
            background-color: #979797;
        }

        .dashed-line::before {
            right: 100%;
            margin-right: 10px;
        }

        .dashed-line::after {
            left: 100%;
            margin-left: 10px;
        }

        @include mobile() {
            .dashed-line {
                overflow: hidden;
            }
        }

        .tip-item {
            display: flex;
            justify-content: space-between;
            color: $main-color;
            margin: 0 60px;

            img {
                max-width: 200px;
                margin: 31px 0 20px 0;
            }

            h4 {
                text-align: center;
                font-size: $font-h4;
                margin-bottom: 11px;
            }

            p {
                max-width: 260px;
                line-height: $p-line-height;
            }

            .tip-content {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

        }

        @media(max-width:768px) {
            .tip-item {
                margin: 0 27px;

                img {
                    max-width: 200px;
                    margin: 31px 0 20px 0;
                }

                h4 {
                    margin-bottom: 11px;
                }

                p {
                    max-width: 196px;
                }
            }
        }

        @include mobile() {
            .tip-item {
                flex-direction: column;

                p {
                    max-width: 80%;
                    text-align: center;
                }
            }
        }
    }

    .tody-chef {
        margin-top: 50px;
        background-color: $main-color;

        .tody-chef-c {
            display: flex;
            max-width: 1024px;
            margin: 0 auto;
            color: #EFE9E7;

            img {
                margin-left: 42px;
                max-width: 470px;
                height: auto;
                object-fit: contain;
            }

            .tody-chef-t {
                margin: 81px 25px 0 25px;

                h3 {
                    font-size: $font-h3;
                }

                span {
                    margin: 5px 0 16px 0;
                    display: block;
                }

                p {
                    line-height: $p-line-height;
                }
            }

            @media (max-width:768px) {
                img {
                    margin-left: -97px;
                    max-height: 460px;
                    object-fit: contain;
                }
            }
        }

        @include mobile() {
            .tody-chef-c {
                flex-direction: column;
                justify-content: center;

                img {
                    margin-left: 0;
                    max-width: 100%;
                }

                .tody-chef-t {
                    margin: 30px 15px;
                }
            }
        }
    }

    .impressions {
        max-width: 1024px;
        margin: 0 auto;
        padding-top: 50px;
        color: $main-color;

        h3 {
            font-size: $font-h3;
            text-align: center;
        }

        span {
            float: right;
            color: rgba(61, 17, 0, 0.75);
        }

        h4 {
            font-size: $font-h4;
        }

        p {
            margin-top: 22px;
            line-height: $p-line-height;

        }

        .impress-content {
            display: flex;

            .impress {
                display: flex;
                align-items: flex-start;
                margin-top: 32px;
                padding: 0 10px 0 10px;

                img {
                    max-width: 67px;
                    height: auto;
                    object-fit: contain;
                    display: inline-block;
                }

                .impress-t {
                    padding-top: 29px;
                    margin-left: 13px;
                }
            }

            @media(max-width:768px) {
                .impress {
                    padding: 0 5px 0 5px;
                }
            }
        }

        @include mobile() {
            .impress-content {
                flex-direction: column;
                align-items: center;
                width: 80%;
                margin: 0 5%;
            }
        }
    }

    .reservation {
        margin-top: 50px;
        background-color: rgba(250, 250, 250, 0.70);

        .reservation-c {
            max-width: 1024px;
            margin: 0 auto;
            padding-top: 50px;
            color: $main-color;

            h3 {
                font-size: $font-h3;
                text-align: center;
                line-height: 32px;
            }

            .reservat-form {
                display: flex;
                margin-top: 38px;
                padding-bottom: 50px;

                @media(max-width:768px) {
                    img {
                        max-width: 363px;
                        height: 386px;
                        object-fit: cover;
                        margin-left: 1%;
                    }
                }

                form {
                    display: block;
                    padding: 0 20px;
                    width: 100%;
                    font-size: 14px;
                    font-family: PingFangTC-Light;

                    input,
                    select {
                        width: 100%;
                        max-width: 500px;
                        margin: 6px 0 15px 0;
                        padding: 0.5em 0.6em;
                        font-size: 16px;
                        border: 1px solid #CCCCCC;
                        box-shadow: inset 0px 1px 0px 0px #ECECEC;
                        border-radius: 3px;
                    }

                    @media(max-width:768px) {
                        input {
                            max-width: 350px;
                        }
                    }

                    .radio {
                        margin: 10px 0;
                        display: flex;
                        align-items: center;

                        input {
                            margin: 0 36px 0 6px;
                            width: 16px;
                            height: 15px;
                            box-shadow: unset;
                            cursor: pointer;
                        }
                    }

                    select {
                        max-width: 100px;
                    }
                }

                button {
                    float: right;
                    margin-left: 11px;
                    width: 70px;
                    height: 32px;
                    text-align: center;
                    padding: 0.5em 1em;
                    border-radius: 3px;
                    border: transparent;
                    color: #fff;
                    font-size: 14px;
                }

                button:hover {
                    box-shadow: 0 0 10px 10px rgba(96, 96, 96, 0.09) inset;
                    cursor: pointer;
                }

                .submit {
                    background-color: #F56C23;
                }

                .reset {
                    background: rgba(0, 0, 0, 0.35);
                }
            }

            @include mobile() {
                .reservat-form {
                    flex-direction: column;
                    align-items: center;
                    padding: 0 20%;

                    img {
                        height: auto;
                        max-width: 90%;
                    }

                    form {
                        width: 90%;
                        margin-top: 10px;

                        input {
                            width: 90%;
                        }

                        button {
                            margin: 20px 10px 30px 0;
                            float: none;
                        }
                    }

                }
            }
        }
    }
}

@import'footer';