@import '_reset.scss';

@mixin hide-text {
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

@mixin iphone5 {
    @media (max-width:320px) {
        @content
    }
}

$font-h2: 36px;
$font-h3: 24px;
$font-h4: 18px;
$p-line-height: 22px;
$main-color: #3D1101;

.wrap {
    box-sizing: border-box;
    font-family: Microsoft JhengHei Regular;
}

.header {

    height: 420px;
    background-color: #0c0200;

    .header-c {
        position: relative;
        max-width: 1024px;
        margin: 0 auto;

        .nav {
            position: absolute;
            z-index: 10;
            width: 100%;
            height: 56px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.75);

            h1 a {
                display: block;
                width: 120px;
                height: 24px;
                margin-left: 42px;
                background-image: url(../images/logo_w@svg.svg);
                background-size: contain;
                @include hide-text();
            }

            ul {
                display: flex;

                li {
                    .cart {
                        margin-right: 5px;
                    }

                    a {
                        display: block;
                        padding: 10px 15px 10px 15px;
                        color: #fff;
                        text-decoration: none;
                    }

                    i.fa-cart-shopping {
                        color: #fff;
                    }

                    a:hover {
                        font-weight: bold;
                        color: #F56C23;

                        i.fa-cart-shopping {
                            color: #F56C23;
                        }
                    }
                }

                li:hover {
                    border-bottom: 3px solid #F56C23;
                }
            }

            .ham-menu {
                display: none;
            }

            @include iphone5() {

                h1 a {
                    margin-left: 13px;
                }

                .ham-menu {
                    display: block;
                    margin-right: 13px;
                    font-size: 25px;
                }

                ul {
                    position: absolute;
                    top: 56px;
                    flex-direction: column;
                    width: 100%;
                    align-items: center;
                    z-index: 100;

                    max-height: 0px;
                    overflow: hidden;
                    transition: max-height 1.5s;

                    li {
                        width: 100%;
                        text-align: center;

                        a {
                            padding: 1em;
                            transition: all 0.3s;
                            background: rgba(0, 0, 0, 0.85);
                        }
                    }

                    li:hover {
                        border-bottom: none;

                        a {
                            background: #efe9e7d2;
                        }
                    }
                }

                .menu-show ul {
                    max-height: 500px;
                }
            }

        }
    }

    .banner {
        height: 420px;
        background-image: url(../images/header_desktop.png);
        background-position: center center;
        background-repeat: no-repeat;

        .b-text {
            position: absolute;
            width: 460px;
            height: 152px;
            background-color: rgba(0, 0, 0, 0.35);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: #fff;

            h2 {
                margin-top: 20px;
                color: #fff;
                font-size: $font-h2;
            }

            p {
                margin-top: 20px;
                line-height: $p-line-height;
            }
        }
    }
}

.content {
    background-color: #efe9e7;

    .tip {
        position: relative;
        max-width: 1024px;
        margin: 0 auto;

        .dashed-line {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 0);
            display: inline-block;
            padding: 0 10px;
            margin-top: 50px;

            h3 {
                font-size: $font-h3;
                text-align: center;
                line-height: 32px;
                color: $main-color;
            }
        }

        .dashed-line::before,
        .dashed-line::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            width: 125px;
            height: 1px;
            background-color: #979797;
        }

        .dashed-line::before {
            right: 100%;
            margin-right: 10px;
        }

        .dashed-line::after {
            left: 100%;
            margin-left: 10px;
        }

        .tip-item {
            display: flex;
            justify-content: space-between;
            color: $main-color;
            margin: 0 60px;

            img {
                max-width: 200px;
                margin: 31px 0 20px 0;
            }

            h4 {
                text-align: center;
                font-size: $font-h4;
                margin-bottom: 11px;
            }

            p {
                max-width: 260px;
                line-height: $p-line-height;
            }

            .tip-content {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

        }

        @media(max-width:768px) {
            .tip-item {
                margin: 0 27px;

                img {
                    max-width: 200px;
                    margin: 31px 0 20px 0;
                }

                h4 {
                    margin-bottom: 11px;
                }

                p {
                    max-width: 196px;
                }
            }
        }
    }

    .tody-chef {
        margin-top: 50px;
        background-color: $main-color;

        .tody-chef-c {
            display: flex;
            max-width: 1024px;
            margin: 0 auto;
            color: #EFE9E7;

            img {
                margin-left: 42px;
                max-width: 470px;
                height: auto;
                object-fit: contain;
            }

            .tody-chef-t {
                margin: 81px 25px 0 25px;

                h3 {
                    font-size: $font-h3;
                }

                span {
                    margin: 5px 0 16px 0;
                    display: block;
                }

                p {
                    line-height: $p-line-height;
                }
            }

            @media (max-width:768px) {
                img {
                    margin-left: -97px;
                    max-height: 460px;
                    object-fit: contain;
                }
            }
        }
    }

    .impressions {
        max-width: 1024px;
        margin: 0 auto;
        padding-top: 50px;
        color: $main-color;

        h3 {
            font-size: $font-h3;
            text-align: center;
        }

        span {
            float: right;
            color: rgba(61, 17, 0, 0.75);
        }

        h4 {
            font-size: $font-h4;
        }

        p {
            margin-top: 22px;
            line-height: $p-line-height;

        }

        .impress-content {
            display: flex;

            .impress {
                display: flex;
                align-items: flex-start;
                margin-top: 32px;
                padding: 0 10px 0 10px;

                img {
                    max-width: 67px;
                    height: auto;
                    object-fit: contain;
                    display: inline-block;
                }

                .impress-t {
                    padding-top: 29px;
                    margin-left: 13px;
                }
            }

            @media(max-width:768px) {
                .impress {
                    padding: 0 5px 0 5px;
                }
            }
        }
    }

    .reservation {
        margin-top: 50px;
        background-color: rgba(250, 250, 250, 0.70);

        .reservation-c {
            max-width: 1024px;
            margin: 0 auto;
            padding-top: 50px;
            color: $main-color;

            h3 {
                font-size: $font-h3;
                text-align: center;
                line-height: 32px;
            }

            .reservat-form {
                display: flex;
                margin-top: 38px;
                padding-bottom: 50px;

                @media(max-width:768px) {
                    img {
                        max-width: 363px;
                        height: 386px;
                        object-fit: cover;
                    }

                }

                form {
                    display: block;
                    padding: 0 20px;
                    width: 100%;
                    font-size: 14px;
                    font-family: PingFangTC-Light;

                    input,
                    select {
                        width: 100%;
                        max-width: 500px;
                        margin: 6px 0 15px 0;
                        padding: 0.5em 0.6em;
                        font-size: 16px;
                        border: 1px solid #CCCCCC;
                        box-shadow: inset 0px 1px 0px 0px #ECECEC;
                        border-radius: 3px;
                    }

                    @media(max-width:768px) {
                        input {
                            max-width: 350px;
                        }
                    }

                    .radio {
                        margin: 10px 0;
                        display: flex;
                        align-items: center;

                        input {
                            margin: 0 36px 0 6px;
                            width: 16px;
                            height: 15px;
                            box-shadow: unset;
                            cursor: pointer;
                        }
                    }

                    select {
                        max-width: 100px;
                    }
                }

                button {
                    float: right;
                    margin-left: 11px;
                    width: 70px;
                    height: 32px;
                    text-align: center;
                    padding: 0.5em 1em;
                    border-radius: 3px;
                    border: transparent;
                    color: #fff;
                    font-size: 14px;
                }

                button:hover {
                    box-shadow: 0 0 10px 10px rgba(96, 96, 96, 0.09) inset;
                    cursor: pointer;
                }

                .submit {
                    background-color: #F56C23;
                }

                .reset {
                    background: rgba(0, 0, 0, 0.35);
                }
            }
        }
    }
}

.footer {
    background-color: #efe9e7;
    color: $main-color;

    .footer-c {
        margin: 0 auto;
        max-width: 1024px;
        display: flex;
        justify-content: space-between;
        padding: 50px 43px;

        .foot-l {
            display: flex;

            .foot-l-l {
                max-width: 300px;
                margin-right: 25px;
            }

            @media(max-width:768px) {
                .foot-l-l {
                    max-width: 235px;
                }
            }

            h3 {
                font-size: $font-h3;
                margin-bottom: 20px;
            }
        }

        @media(max-width:768px) {
            .foot-l {
                margin-right: 11px;
            }
        }

        .foot-r {
            .logo {
                display: block;
                width: 245px;
                height: 49px;
                background-image: url(../images/logo_l@svg.svg);
                background-repeat: no-repeat;
                @include hide-text();
                margin-bottom: 25px;
            }

            .foot-a {
                float: right;

                a {
                    text-decoration: none;
                    margin: 0 3px;
                }
            }
        }
    }

    @media (max-width:768px) {
        .footer-c {
            padding: 50px 11px;
        }
    }

}