/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* css reset */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.hide-text {
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

*,
:hover,
::after,
::before {
    box-sizing: border-box;
}

.center {
    width: 940px;
    margin: 0 auto;
}

.header {
    margin-bottom: 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.navbar .logo {
    display: block;
    width: 220px;
    height: 40px;
    background: url(../images/logo-all-dark.svg) no-repeat;
}

.navbar .menu {
    display: flex;
    align-items: center;
}

.navbar .menu ul {
    display: flex;
}

.navbar .menu li {
    height: 40px;
    margin-left: 60px;
}

.navbar .menu li a {
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    text-decoration: none;
    color: #3F5D45;
}

.navbar .menu li a:hover {
    border-bottom: 3px solid #3F5D45;
}

.navbar .menu .cart {
    margin-left: 79px;
    height: 24px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.side-bar ul {
    width: 300px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 65px;
}

.side-bar .sort {
    color: #EAF0ED;
    background-color: #3F5D45;
}

.side-bar li {
    margin-top: -1px;
    border: 1px solid #EAF0ED;
}

.side-bar a {
    display: block;
    text-decoration: none;
    color: #3F5D45;
}

.side-bar a:hover {
    background-color: #EAF0ED;
}

.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product li {
    max-width: 300px;
    position: relative;
    margin: 0 0 20px 20px;
}

.product li .high-lights {
    position: absolute;
    top: 0;
    left: 20px;
    writing-mode: vertical-rl;
    padding: 10px;
    letter-spacing: 5px;
    font-weight: 600;
    color: #EAF0ED;
    height: 106px;
    background-color: #3F5D45;
}

.product li .add-favorite {
    position: absolute;
    top: 19px;
    right: 22px;
}

.product img {
    display: block;
}

.product-title {
    display: flex;
    margin-top: -1px;
    font-size: 20px;
    line-height: 56px;
    text-align: center;
    color: #3F5D45;
    border: 1px solid #EAF0ED;
}

.product-title h3 {
    width: 173px;
    font-weight: 300;
    border-right: 1px solid #EAF0ED;
}

.product-title span {
    width: 127px;
    font-weight: 600;
}

.product .add-cart {
    text-align: center;
    background-color: #EAF0ED;
}

.product .add-cart a {
    display: block;
    font-size: 24px;
    font-weight: 600;
    line-height: 65px;
    color: #3F5D45;
    text-decoration: none;
}

.product .add-cart a:hover {
    color: #EAF0ED;
    background-color: #3F5D45;
}

.pages {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 10px;
}

.pages li {
    width: 60px;
    height: 60px;
    margin-right: -1px;
    text-align: center;
    border: 1px solid #EAF0ED;
    overflow: hidden;
}

.pages a {
    display: block;
    font-size: 20px;
    line-height: 60px;
    color: #3F5D45;
    text-decoration: none;
}

.pages a:hover {
    color: #3F5D45;
    background-color: #EAF0ED;
}

.pages li .pages-select {
    color: #EAF0ED;
    background-color: #3F5D45;
}

.pages .arrow {
    line-height: 72px;
}

.footer{
    width: 1024px;
    margin: 0 auto;
    color: #3F5D45;
}

.footer-top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 116px;
    background-color: #3F5D45;
}

.footer-top input {
    width: 316px;
    height: 56px;
    outline: none;
}

.footer-top button {
    width: 64px;
    height: 56px;
    border: none;
    background-color: #FFE180;
    cursor: pointer;
}

.footer-top input {
    border: none;
    background-color: #EAF0ED;
}

.footer-top .logo{
    width: 276px;
    display: flex;
    align-items: center;
}

.footer-top .logo img{
    width: 40px;
}

.footer-top .logo span{
    font-size: 24px;
    line-height: 29px;
    margin-left: 20px;
    color: #EAF0ED;
}

.email-sub {
    max-width: 380px;
    display: flex;
    align-items: center;
    background-color: #EAF0ED;
}

.mail-icon {
    width: 24px;
    height: 24px;
    margin: 0 5px 0 20px;
}

.footer-bottom{
    position: relative;
    background-color: #EAF0ED;
    height: 341px;
}

.footer-bottom .footer-left{
    position: absolute;
    top: 39px;
    left: 122px;
}

.footer-bottom .logo {
    width: 171px;
    margin-bottom: 115px;
}

.footer-bottom .info{
    line-height: 24px;
    margin-bottom: 30px;
}

.link a{
    display: inline-block;
    width: 32px;
    height: 32px;
}

.line{
    background: url(../images/ic-line@.svg) no-repeat;
}

.facebook{
    margin-left: 8px;
    background: url(../images/ic-facebook.svg) no-repeat;
}

.footer-bottom .footer-right img{
    position: absolute;
    top: 30px;
    right: 122px;
}

.link span{
    margin-left: 450px;
}

.footer-bottom .footer-right span{
    position: absolute;
    bottom: 30px;
    right: 122px;
}

.footer-bottom .footer-right .text {
    width: 59px;
    display: block;
}