/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* css reset */

*,
body {
    box-sizing: border-box;
    font-family: 'Castoro', serif;
}

.center {
    width: 1296px;
    margin: 0 auto;
}

.header {
    margin-top: 160px;
    font-size: 128px;
    line-height: 192px;
    letter-spacing: 0.12em;
    color: #000000;
}

.header img {
    display: block;
    margin: 0 auto;
}

.header h2 {
    text-align: right;
}

.about {
    background: #EFEFEF;
    margin-bottom: 80px;
}

.about p {
    width: 636px;
    margin-left: auto;
    padding: 48px 0;

    font-size: 32px;
    line-height: 48px;
    color: #000000;
}

.info {
    width: 636px;
    margin-bottom: 160px;
}

.info li {
    margin-bottom: 40px;
}

.content h3 {
    font-size: 40px;
    line-height: 60px;
    color: #AE0000;
    border-bottom: 3px solid #AE0000;
    margin-bottom: 16px;
}

.content p {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.details li {
    margin-bottom: 16px;
}

.details span {
    display: block;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #949494;
}

.footer{
    background: #000000;
}

.footer link{
    text-align: center;

}

.footer img{
    width: 64px;
    padding: 64px 0; 
}

.link{
    text-align: center;
}

.link a{
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 64px 40px 64px 0;
}

.hide-text{
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.facebook{
    background: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week1/fb.png) no-repeat;
}

.instagram{
    background: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week1/instagram.png) no-repeat;
}

.line{
    background: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week1/line.png) no-repeat;
}